/* #region Common */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --zoom-primary: rgba(34, 34, 34, 1);
  --zoom-secondary: rgba(74, 74, 74, 1);
  --zoom-dark: rgba(0, 0, 0, 1);
  --zoom-lighter: rgba(255, 255, 255, 1);
  --zoom-danger: rgba(230, 18, 27, 1);
  --zoom-share: rgba(75, 200, 0, 1);
}

.d-flex {
  display: flex;
}

.content-end {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between;
}


/* #endregion Common */

/* #region Header */

.app-header {
  background-color: var(--zoom-dark);
  height: 3vh;
  width: 100vw;
}

.badge {
  color: var(--zoom-lighter);
  background-color: var(--zoom-secondary);
  border-radius: 0.25rem;
  padding: 0.2rem;
  margin: 0.2rem;
}

/* #endregion Header */

/* #region Main */

main {
  height: calc(100vh -130px);
  overflow-y: auto;
  background-color: var(--zoom-dark);
}

.partecipants {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1850px;
  margin: auto;
  padding: 2rem 0;
  gap: 10px;
}

.partecipant {
  position: relative;
  width: 250px;
  height: 150px;
}

.name {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  background-color: var(--zoom-secondary);
  color: var(--zoom-lighter);
}

.profile-img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* #endregion Main */

/* #region Footer */

.app-footer {
  background-color: var(--zoom-primary);
}

.footer-left {
  color: var(--zoom-lighter);
  text-align: center;
  align-items: center;
  padding: 0.4rem;
}

.chevron-up {
  justify-content: center;
  padding-left: 0.4rem;
}

.column {
  flex-direction: column;
  padding: 0.7rem;
}

.footer-middle {
  color: var(--zoom-lighter);
  text-align: center;
  align-items: center;
}

.share {
  color: var(--zoom-share);
}

.btn-bottom {
  background-color: var(--zoom-secondary);
  color: var(--zoom-danger);
  padding: 0.5rem;
  border: 1px solid var(--zoom-dark);
}

/* #endregion Footer */