/* #region Common */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --zoom-primary: rgba(34, 34, 34, 1);
  --zoom-secondary: rgba(74, 74, 74, 1);
  --zoom-dark: rgba(0, 0, 0, 1);
  --zoom-lighter: rgba(255, 255, 255, 1);
  --zoom-danger: rgba(230, 18, 27, 1);
  --zoom-share: rgba(75, 200, 0, 1);
}

.d-flex {
  display: flex;
}

.content-end {
  justify-content: flex-end;
}

.content-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.container {
  padding: 2rem;
  max-width: 100vw;
}

/* #endregion Common */

/* #region Header */

.app-header {
  background-color: var(--zoom-dark);
  height: 3vh;
  width: 100vw;
}

.badge {
  color: var(--zoom-lighter);
  background-color: var(--zoom-secondary);
  border-radius: 0.25rem;
  padding: 0.2rem;
  margin: 0.2rem;
}

/* #endregion Header */

/* #region Main */

.app-main {
  background-color: var(--zoom-dark);
  height: 85vh;
  width: 100vw;
}

.users {
  width: calc(100 / 6);
}

.partecipant {
  color: var(--zoom-lighter);
  width: 100%;
  position: relative;
}

.img-size {
  width: 100%;
  padding: 0.2rem;
}
.position-name {
  position: absolute;
  left: 3%;
  bottom: 10%;
  display: inline-block;
}

.user-name {
  padding: 0.1rem;
  background-color: var(--zoom-secondary);
  font-size: small;
}

/* #endregion Main */

/* #region Footer */

.app-footer {
  background-color: var(--zoom-primary);
}

.footer-left {
  color: var(--zoom-lighter);
  text-align: center;
  padding: 0.4rem;
}

.chevron-up {
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

/* #endregion Footer */